.about-content {
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: 20% auto;
  grid-template-areas:
    "title title"
    "aboutMe photo";
}
.about-content h1 {
  grid-area: title;
  margin: 0;
}
.aboutMe {
  grid-area: aboutMe;
  text-align: justify;
  font-size: 16px;
  line-height: 2rem;
}
.photo {
  height: auto;
  margin-top: 6px;
  max-width: 50%;
  justify-self: center;
  border-radius: 5px;
  grid-area: photo;
  display: grid;
}
.CV {
  font-size: 18px;
  margin-left: 12px;
  margin-top: 30px;
  font-weight: bold;
  transition: all 200ms ease-in;
  font-family: "Merienda", cursive;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.CV:hover {
  background: #181818;
  color: #efefef;
  filter: drop-shadow(0px 0px 6px white);
}

@media only screen and (max-width: 768px) {
  .about-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title"
      "photo"
      "aboutMe";
  }
  .photo {
    max-width: 90vw;
    height: auto;
    margin: 15px auto;
  }
}
@media only screen and (max-width: 480px) {
  .about-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title"
      "photo"
      "aboutMe";
  }
  .photo {
    max-width: 85vw;
    height: auto;
    margin: 10px auto;
  }
}
