.mouseTracker {
  display: flex;
}
.eye {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
}
.eye-left {
  margin-right: 5px;
}
.eye-right {
  margin-left: 5px;
}
.eye-inner {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: black;
  margin-left: 4px;
  margin-top: 4px;
}
.eye-inner:after {
  position: absolute;
  top: 2px;
  left: 10px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  content: "";
}
