.home-content {
  grid-area: content;
  font-size: 42px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "intro eyes";
}
.intro {
  grid-area: intro;
  align-self: center;
  margin-left: 50px;
}
.eyes {
  grid-area: eyes;
  place-self: center;
}
.name {
  max-width: 60px;
  font-size: 75px;
}
.reachMe {
  text-align: center;
}
.reachMe a {
  text-decoration: none;
  color: #cdac81;
  font-size: 20px;
  font-weight: bold;
  transition: all 200ms ease-in;
  margin-top: 20px;
}
.reachMe a:hover {
  font-size: 23px;
}
