.home-content {
  font-size: 42px;
}
.name {
  max-width: 150px;
}
.eyes {
  position: absolute;
  top: 35px;
  left: 60px;
  z-index: 3;
  display: inline-block;
}
.S {
  position: relative;
}
.reachMe {
  font-size: 20px;
  position: absolute;
  right: 50px;
  font-weight: bold;
  transition: all 200ms ease-in;
  font-family: "Merienda", cursive;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reachMe:hover {
  background: #181818;
  color: #efefef;
  filter: drop-shadow(0px 0px 6px white);
}
.ol {
  font-size: 170px;
}
@media only screen and (max-width: 350px) {
  .home-content {
    font-size: 28px;
  }
  .ol {
    font-size: 100px;
  }
}
