.navbar {
  grid-area: nav;
  background-color: #070707;
  color: #cae4db;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.6fr 5fr;
  grid-template-areas:
    "logo"
    "menuItems";
  justify-items: center;
  z-index: 10;
}
.menuItems {
  display: grid;
  grid-area: menuItems;
  grid-template-columns: auto;
  grid-template-rows: 4fr 1fr;
  grid-template-areas:
    "information"
    "contact";
  height: calc(100vh - 70px);
}

.logo {
  display: grid;
  grid-area: logo;
  width: 70%;
  margin: 0 auto;
  padding-top: 10px;
}
.information {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-area: information;
  place-items: center center;
  width: 100%;
}
.contact {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-area: contact;
  font-size: 20px;
  place-items: center center;
}

.navItem {
  position: relative;
  font-size: 30px;
  width: 70px;
  text-decoration: none;
  color: #cae4db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItem:after {
  content: "";
  opacity: 0;
  font-size: 12px;
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
}

.navItem:hover:nth-child(n + 0):nth-child(-n + 5) svg {
  opacity: 0;
  transition: all 250ms ease-out;
}
.navItem:hover:nth-child(n + 0):nth-child(-n + 5):after {
  opacity: 1;
  transition: all 250ms ease-in;
}
.navItem:hover:nth-child(1):after {
  content: "HOME";
}

.navItem:hover:nth-child(2):after {
  content: "ABOUT";
}

.navItem:hover:nth-child(3):after {
  content: "SKILLS";
}

.navItem:hover:nth-child(4):after {
  content: "WORK";
}
.navItem:hover:nth-child(5):after {
  content: "CONTACT";
}
.link {
  color: #cae4db;
  text-decoration: none;
}
.link:hover,
.selected {
  filter: drop-shadow(0px 0px 4px white);
}
.menu {
  display: none;
}

.topNav {
  display: none;
}

.sidebarNav {
  display: block;
}

@media only screen and (max-width: 768px) {
  .navbar {
    grid-area: nav;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.6fr 4fr 0.6fr;
    grid-template-areas: "logo . menu";
    place-items: center center;
    z-index: 10;
  }
  .logo {
    display: grid;
    grid-area: logo;
    width: auto;
    height: 40px;
    padding-top: 0;
  }
  .menu {
    display: block;
    grid-area: menu;
    font-size: 28px;
    justify-self: right;
    margin-right: 10px;
  }

  .menuItems {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 10px;
    background-color: #070707;
    align-self: center;
  }

  .navItem {
    width: 100%;
  }

  .information a {
    margin-bottom: 40px;
  }

  .topNav {
    display: block;
  }

  .sidebarNav {
    display: none;
  }

  .navItem:hover:nth-child(1):after {
    content: "";
  }

  .navItem:hover:nth-child(2):after {
    content: "";
  }

  .navItem:hover:nth-child(3):after {
    content: "";
  }

  .navItem:hover:nth-child(4):after {
    content: "";
  }
  .navItem:hover:nth-child(5):after {
    content: "";
  }
}
