.icons {
  font-size: 50px;
}
.icon-title {
  display: none;
}
a:hover .icon-title {
  display: initial;
  font-size: 12px;
  width: 30px;
}
a:hover .icons {
  display: none;
}
.logo {
  width: 50%;
}

.home {
  grid-area: home;
  place-self: center center;
  color: black;
  text-decoration: none;
}
.about {
  grid-area: about;
  place-self: center right;
}
.skill {
  grid-area: skill;
  place-self: center left;
}
.work-cert {
  grid-area: work-cert;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "work cert";
}
.work {
  grid-area: work;
  place-self: center center;
}
.cert {
  grid-area: cert;
  place-self: center center;
}
