.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 15% auto;
  grid-template-areas:
    "title title title . ."
    "project1 project2 project3 project4 project5";
  height: calc(100vh - 50px);
  overflow: hidden;
  grid-column-gap: 10px;
}

@media only screen and (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% auto auto auto;
    grid-template-areas:
      "title title"
      "project1 project2"
      "project3 project4"
      "project5 .";
    row-gap: 20px;
    overflow: scroll;
  }
}

@media only screen and (max-width: 400px) {
  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "title"
      "project1"
      "project2"
      "project3"
      "project4"
      "project5";
    row-gap: 20px;
    overflow: scroll;
    justify-items: center;
  }
}

.projects h1 {
  grid-area: title;
  margin: 0;
}
.project {
  place-self: center center;
  overflow: hidden;
  border-radius: 10px;
}

.image-container {
  width: 100%;
  height: auto;
  max-height: 462px;
  max-width: 226px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 462px;
  max-width: 226px;
  transition: all 250ms ease-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-text {
  opacity: 1;
  transition: all 250ms ease-out;
}

.project-info {
  width: 100%;
  height: 100%;
  max-height: 462px;
  max-width: 226px;
  position: absolute;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 2rem;
  z-index: 1;
  line-height: 6rem;
}
.view {
  font-size: 20px;
  color: white;
  background: #181818;
  text-decoration: none;
  padding: 10%;
  border-radius: 50%;
  opacity: 0;
  transition: all 250ms ease-in;
}

.project1 {
  grid-area: project1;
}

.project2 {
  grid-area: project2;
}

.project3 {
  grid-area: project3;
}

.project4 {
  grid-area: project4;
}
.project5 {
  grid-area: project5;
}

.project1 img,
.project2 img,
.project3 img,
.project4 img,
.project5 img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  max-height: 462px;
  max-width: 226px;
}

.project1,
.project2,
.project3,
.project4,
.project5 {
  position: relative;
  max-height: 462px;
  max-width: 226px;
  width: 100%;
  height: 100vh;
}

.project1:hover .overlay,
.project2:hover .overlay,
.project3:hover .overlay,
.project4:hover .overlay,
.project5:hover .overlay {
  display: none;
}

.project1:hover .project-text,
.project2:hover .project-text,
.project3:hover .project-text,
.project4:hover .project-text,
.project5:hover .project-text {
  opacity: 0;
  cursor: default;
}

.project1:hover .view,
.project2:hover .view,
.project3:hover .view,
.project4:hover .view,
.project5:hover .view {
  opacity: 1;
}
