.skills {
  grid-area: content;
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: 15% auto;
}

.skillTable {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-size: 80px;
  justify-items: center;
}
.skillName {
  font-size: 14px;
  text-align: center;
}
