body {
  margin: 0%;
  background-color: #cdd0cb;
}
.App {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    ". home ."
    "about eyes skill"
    ".  work-cert .";
}
