body {
  margin: 0%;
  font-family: "Merienda", cursive;
}
.App {
  display: grid;
  height: 100vh;
  grid-template-columns: 5% auto auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "nav .  ."
    "nav content mouseTracker"
    "nav  . ."
    "nav  .  .";
}
